.left-sidebar {
  position: absolute;
  width: 16rem;
  height: 100%;
  top: 0px;
  z-index: 20;
  background: #fff;
  box-shadow: $shadow;
}

.scroll-sidebar {
  height: 100%;
  position: relative;
  overflow-y: scroll;

  &.ps .ps__scrollbar-y-rail {
    left: 2px;
    right: auto;
    background: none;
    width: 6px;
    /* If using `left`, there shouldn't be a `right`. */
  }
}

.sidebar-footer {
  background-color: $red;
  bottom: 0px;
  font-size: 1rem;
  color: #fff;
  left: 0;
  position: absolute;
  width: 100%;
}

.collapse.in {
  display: block;
}

.sidebar-nav {
  margin-bottom: 3.5rem;
  padding: 0px 0 0 0px;

  ul {
    margin: 0px;
    padding: 0px;

    li {
      list-style: none;

      a {
        color: $primary;
        padding: 10px 1.5rem 10px 1.5rem;
        display: block;
        align-items: center;
        font-size: 1rem;
        font-weight: 400;

        &.active,
        &:hover {
          color: $red;

          i {
            color: $red;
          }
        }

        &.active {
          font-weight: 500;
          color: $gray-800;
        }
      }

      ul {
        padding-left: 30px;

        li a {
          padding: 0.5rem 2.25rem 0.5rem 1.5rem;
        }

        ul {
          padding-left: 1.5rem;
        }
      }

      &.nav-small-cap {
        font-size: 0.875rem;
        margin-bottom: 0px;
        padding: 1.5rem 0.875rem 0.875rem 1.75rem;
        color: $gray-500;
        font-weight: 500;
      }

      &.nav-devider {
        height: 1px;
        background: $border-color;
        display: block;
        margin: 1.5rem 0;
      }
    }
  }

  >ul>li>a {
    border-left: 0.3125rem solid transparent;

    i {
      width: 25px;
      font-size: 16px;
      display: inline-block;
      vertical-align: middle;
    }

    .badge {
      float: right;
    }
  }

  >ul>li {
    margin-bottom: 8px;
    margin-top: 8px;

    &.active>a {
      color: $themecolor;
      font-weight: 500;
      border-left: 0.3125rem solid $themecolor;

      i {
        color: $themecolor;
      }
    }
  }

  .waves-effect {
    transition: none;
    -webkit-transition: none;
    -o-transition: none;
  }
}

.sidebar-nav .has-arrow {
  position: relative;

  &::after {
    position: absolute;
    content: '';
    width: 0.5rem;
    height: 0.5rem;
    border-width: 1px 0 0 1px;
    border-style: solid;
    border-color: $primary;
    right: 20px;
    -webkit-transform: rotate(135deg) translate(0, -50%);
    -ms-transform: rotate(135deg) translate(0, -50%);
    -o-transform: rotate(135deg) translate(0, -50%);
    transform: rotate(135deg) translate(0, -50%);
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    -o-transform-origin: top;
    transform-origin: top;
    top: 21px;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
  }
}

/*.sidebar-nav .active > .has-arrow::after,*/
.sidebar-nav li>.has-arrow.active::after,
.sidebar-nav .has-arrow[aria-expanded="true"]::after {
  -webkit-transform: rotate(-135deg) translate(0, -50%);
  -ms-transform: rotate(-135deg) translate(0, -50%);
  -o-transform: rotate(-135deg) translate(0, -50%);
  top: 42%;
  width: 0.5rem;
  transform: rotate(-135deg) translate(0, -50%);
}