.table {
  margin-bottom: 0;

  thead {
    th {
      border-bottom: 0;
      color: $gray-500;
      font-weight: $font-weight-light;
      padding: 0.75rem 1rem;
      vertical-align: middle;

      &:first-child {
        padding-left: 1.75rem;
      }
      &:last-child {
        padding-right: 1.75rem;
      }
    }
  }
  tbody {
    color: $gray-900;

    td {
      font-weight: $font-weight-normal;
      padding: 1.25rem 1rem;
      vertical-align: middle;

      &:first-child {
        padding-left: 1.75rem;
      }
      &:last-child {
        padding-right: 1.75rem;
      }
    }
    p {
      margin-bottom: 0;
    }
    .text-muted {
      font-size: 0.875rem;
      margin-bottom: 0;
    }
  }
}
