.h1, h1 {
  font-size: $h1-font-size;
  font-weight: $font-weight-medium;
}
.h2, h2 {
  font-size: $h2-font-size;
  font-weight: $font-weight-normal;
}
.h3, h3 {
  font-size: $h3-font-size;
  font-weight: $font-weight-normal;
}
.h4, h4 {
  font-size: $h4-font-size;
  font-weight: $font-weight-normal;
}
.h5, h5 {
  font-size: $h5-font-size;
  font-weight: $font-weight-light;
}
.h6, h6 {
  font-size: $h6-font-size;
  font-weight: $font-weight-light;
}
a {
  color: $gray-400;

  &:hover {
    color: $themecolor;
    text-decoration: none;
  }
}
.text-sm {
  font-size: 0.75rem;
}
.font-bold {
  font-weight: $font-weight-bold;
}
.font-normal {
  font-weight: $font-weight-normal;
}
.font-light {
  font-weight: $font-weight-light;
}
.font-medium {
  font-weight: $font-weight-medium;
}
@each $color, $value in $colors {
  .text-#{$color} {
    color: $value;
  }
}