#login {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: 100%;
  padding: 0;
  position: fixed;

  .card {
    border: 0;
    border-radius: 0;
  }
  .card-body {
    padding: 7rem 7rem 7rem 5rem;
  }
  .login-form {
    min-width: 22rem;
  }
  .login-box {
    left: 0px;
    position: absolute;
    height: 100%;
  }
  .title {
    color: $red;
    font-size: 1.5rem;
    margin-bottom: 5rem;
  }
  .subtitle {
    line-height: 1.5;
  }
}

.btn-login {
  margin-top: 4rem;
}