<template>
  <div>
    <button class="btn btn-danger mb-4">新增</button>

    <div class="row">
      <div class="col-12 col-md-6">
        <div class="card mb-5">
          <div class="card-header">
            <h2>器材管理</h2>
          </div>
          <div class="card-body p-0">
            <table class="table ">
              <thead>
                <tr>
                  <th>器材名称</th>
                  <th>编号</th>
                  <th>价格</th>
                  <th>记录</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>篮球</td>
                  <td>1 - 12</td>
                  <td>RM12.00</td>
                  <td>
                    <i class="far fa-external-link-square"></i>
                  </td>
                </tr>
                <tr>
                  <td>篮球</td>
                  <td>1 - 12</td>
                  <td>RM12.00</td>
                  <td>
                    <i class="far fa-external-link-square"></i>
                  </td>
                </tr>
                <tr>
                  <td>篮球</td>
                  <td>1 - 12</td>
                  <td>RM12.00</td>
                  <td>
                    <i class="far fa-external-link-square"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            <h2>器材逾期</h2>
          </div>
          <div class="card-body">
            <form class="form-horizontal">
              <div class="form-group form-inline mb-4">
                <label for="" class="mr-2">罚款金额:</label>
                <input type="text" class="form-control mr-2">
                <span class="text-muted"> / 天</span>
              </div>

              <button type="submit" class="btn btn-danger float-right">
                储存
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      searchKeyword: null,
    };
  },
};
</script>
