<template>
  <div>
    <button class="btn btn-danger mb-4">新增</button>
    <div class="card">
      <div class="card-header">
        <h2>租借记录 (团队)</h2>
        <div class="input-group input-search">
          <input
            type="text"
            class="form-control"
            placeholder="搜索学号或名字"
            v-model="searchKeyword"
          >
          <div class="input-group-append">
            <span class="input-group-text">
              <i class="far fa-search"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="card-body p-0">
        <table class="table">
          <thead>
            <tr>
              <th>团体名称</th>
              <th>学生资料</th>
              <th>借用器材</th>
              <th>借出时间</th>
              <th>归还时间</th>
              <th>负责老师</th>
              <th>状态</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <p>化学学会</p>
              </td>
              <td>
                <div class="d-flex">
                  <img src="" alt="">
                  <div>
                    <p>140549</p>
                    <p>陈智霖</p>
                    <p>高二(理)爱</p>
                  </div>
                </div>
              </td>
              <td>
                <p>篮球 B - 001</p>
              </td>
              <td>
                <p class="text-muted">
                  2018 年 7 月 19 日
                </p>
                <p>下午1:30</p>
              </td>
              <td>
                <p class="text-muted">
                  2018 年 7 月 19 日
                </p>
                <p>下午3:30</p>
              </td>
              <td>董老师</td>
              <td>
                <span class="badge badge-danger">已归还</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      searchKeyword: null,
    };
  },
};
</script>
