<template>
  <div id="login" class="login-sidebar">
    <div class="login-box card">
      <div class="card-body">
        <form
          class="login-form"
          v-on:submit.prevent="onLogin"
        >
          <h1 class="title mt-3">体育处系统</h1>

          <h2 class="subtitle mb-4">用科技贯穿校园<br />创造一个数据驱动化的系统</h2>

          <div class="form-group custom-form-group">
            <label for="username">用户名</label>
            <input
              type="text"
              id="username"
              class="form-control"
              placeholder="john_doe"
              v-model="username"
            >
          </div>

          <div class="form-group custom-form-group">
            <label for="password">密码</label>
            <input
              type="password"
              id="password"
              class="form-control"
              placeholder="*********"
              v-model="password"
            >
          </div>

          <div class="d-flex justify-content-between mt-3">
            <div class="form-check">
              <input
                id="remember-me"
                class="form-check-input"
                type="checkbox"
                v-model="rememberMe"
              >
              <label class="form-check-label" for="remember-me">
                记住我
              </label>
            </div>

            <router-link :to="{ name: 'ForgotPassword' }">
              忘记密码?
            </router-link>
          </div>

          <button type="submit" class="btn btn-danger btn-login">
            登入
          </button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { login } from '../utils/auth';

export default {
  data() {
    return {
      username: '',
      password: '',
      rememberMe: false,
    };
  },
  methods: {
    onLogin() {
      login();
    },
  },
};
</script>
