<template>
  <div>
    <h2>您的资料</h2>

    <div class="mb-1">
      <p class="text-sm text-muted mb-0">名字</p>
      <p>董</p>
    </div>

    <div class="mb-1">
      <p class="text-sm text-muted mb-0">用户名</p>
      <p>
        dong1234
        <i class="far fa-pen text-danger ml-3"></i>
      </p>
    </div>

    <div class="mb-1">
      <p class="text-sm text-muted mb-0">安全</p>
      <button class="btn btn-sm btn-danger">
        更换密码
      </button>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      searchKeyword: null,
    };
  },
};
</script>
