<template>
  <div>
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="card card-widget">
          <div class="card-body">
            <div class="round bg-danger">
              <i class="far fa-users"></i>
            </div>
            <div class="widget-stats">
              <h3>3</h3>
              <p>未归还数量</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4">
        <div class="card card-widget">
          <div class="card-body">
            <div class="round bg-brown">
              <i class="far fa-users"></i>
            </div>
            <div class="widget-stats">
              <h3>20</h3>
              <p>本月逾期数量</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4">
        <div class="card card-widget">
          <div class="card-body">
            <div class="round bg-danger">
              <i class="far fa-users"></i>
            </div>
            <div class="widget-stats">
              <h3>2</h3>
              <p>本月丢失数量</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6">
        <div class="card card-widget">
          <div class="card-body">
            <div class="round bg-pink">
              <i class="far fa-users"></i>
            </div>
            <div class="widget-stats">
              <h3>3</h3>
              <p>未归还数量</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6">
        <div class="card card-widget">
          <div class="card-body">
            <div class="round bg-pink">
              <i class="far fa-users"></i>
            </div>
            <div class="widget-stats">
              <h3>20</h3>
              <p>本月逾期数量</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="card card-widget">
          <div class="card-body">
            <h2>年月度统计表</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      searchKeyword: null,
    };
  },
};
</script>
