<template>
  <div>
    <button class="btn btn-danger mb-4">新增</button>

    <div class="row">
      <div class="col-12 col-md-6">
        <div class="card mb-5">
          <div class="card-header">
            <h2>用户管理</h2>
          </div>
          <div class="card-body p-0">
            <table class="table ">
              <thead>
                <tr>
                  <th>名字</th>
                  <th>权限</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>董</td>
                  <td>
                    <select class="form-control">
                      <option value="">-- 选择 --</option>
                      <option value="">老师</option>
                      <option value="">主任</option>
                      <option value="">职员</option>
                    </select>
                  </td>
                  <td>
                    <button class="btn btn-sm btn-danger">
                      删除
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>董</td>
                  <td>
                    <select class="form-control">
                      <option value="">-- 选择 --</option>
                      <option value="">老师</option>
                      <option value="">主任</option>
                      <option value="">职员</option>
                    </select>
                  </td>
                  <td>
                    <button class="btn btn-sm btn-danger">
                      删除
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>董</td>
                  <td>
                    <select class="form-control">
                      <option value="">-- 选择 --</option>
                      <option value="">老师</option>
                      <option value="">主任</option>
                      <option value="">职员</option>
                    </select>
                  </td>
                  <td>
                    <button class="btn btn-sm btn-danger">
                      删除
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      searchKeyword: null,
    };
  },
};
</script>
