<template>
  <aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
      <h3 class="title font-medium text-red p-4 mt-3 mb-3">体育处系统</h3>
      <!-- Sidebar navigation-->
      <nav class="sidebar-nav">
        <ul id="sidebarnav">
          <li class="nav-small-cap">器材</li>
          <li v-bind:class="{ active: (currentRoute == 'Admin.PersonalRental') }">
            <router-link
              :to="{ name: 'Admin.PersonalRental'}"
              class="waves-effect waves-dark"
              aria-expanded="false"
              @click.native="onChangeRoute"
            >
              <span>租借器材 (个人)</span>
            </router-link>
          </li>
          <li v-bind:class="{ active: (currentRoute == 'Admin.GroupRental') }">
            <router-link
              :to="{ name: 'Admin.GroupRental'}"
              class="waves-effect waves-dark"
              aria-expanded="false"
              @click.native="onChangeRoute"
            >
              <span>租借器材 (团队)</span>
            </router-link>
          </li>
          <li v-bind:class="{ active: (currentRoute == 'Admin.Equipment') }">
            <router-link
              :to="{ name: 'Admin.Equipment'}"
              class="waves-effect waves-dark"
              aria-expanded="false"
              @click.native="onChangeRoute"
            >
              <span>管理器材</span>
            </router-link>
          </li>
          <li class="nav-small-cap">统计</li>
          <li v-bind:class="{ active: (currentRoute == 'Admin.Statistics') }">
            <router-link
              :to="{ name: 'Admin.Statistics'}"
              class="waves-effect waves-dark"
              aria-expanded="false"
              @click.native="onChangeRoute"
            >
              <span>年月度报表</span>
            </router-link>
          </li>

          <li class="nav-small-cap">系统管理</li>
          <li v-bind:class="{ active: (currentRoute == 'Admin.Users') }">
            <router-link
              :to="{ name: 'Admin.Users'}"
              class="waves-effect waves-dark"
              aria-expanded="false"
              @click.native="onChangeRoute"
            >
              <span>用户管理</span>
            </router-link>
          </li>
        </ul>
      </nav>
      <!-- End Sidebar navigation -->

      <div class="sidebar-footer d-flex justify-content-between p-3">
        <div class="user-profile">
          <i class="fal fa-user-circle"></i>
          董
        </div>

        <div class="action-icons">
          <router-link
            class="text-white"
            :to="{ name: 'Admin.Profile'}"
            @click.native="onChangeRoute"
          >
            <i class="far fa-cog mr-1"></i>
          </router-link>
          <a
            class="text-white cursor-pointer"
            @click.prevent="onLogout"
          >
            <i class="far fa-sign-out"></i>
          </a>
        </div>
      </div>
    </div>
    <!-- End Sidebar scroll-->

  </aside>
</template>

<script>
import { logout } from '../utils/auth';

export default {
  data() {
    return {
      currentRoute: null,
      inSetting: false,
    };
  },
  mounted() {
    this.currentRoute = this.$router.currentRoute.name;
  },
  methods: {
    onLogout() {
      logout();
    },
    checkInSetting() {
    },
    onChangeRoute() {
    },
  },
  watch: {
    $route(routeTo) {
      this.currentRoute = routeTo.name;
    },
  },
};
</script>
