html {
  font-size: 16px;
}
body {
  background-color: $gray-100;
  color: $primary;
  font-size: 1rem;
  font-family: $font-family-sans-serif;
  font-weight: $font-weight-light;
}
.card {
  box-shadow: $shadow;
  border: 1px solid $gray-300;
  border-radius: 0.75rem;
  overflow: hidden;
  margin-bottom: 1.25rem;

  &.card-widget {
    border: 0;
    border-radius: 0;

    .card-body {
      display: flex;
      align-items: center;
    }
    .widget-stats {
      margin-left: 1rem;

      h3 {
        margin-bottom: 0.25rem;
      }
      p {
        margin-bottom: 0;
      }
    }
  }
  .card-header {
    align-content: center;
    background-color: #fff;
    border-bottom: 1px solid $gray-300;
    display: flex;
    justify-content: space-between;
    margin-bottom: -1px;
    padding: 1.25rem 1.75rem;

    h2 {
      font-size: 1.25rem;
      font-weight: $font-weight-normal;
      margin-bottom: 0;
    }
    .input-search {
      max-width: 20rem;

      .form-control {
        border-right: 0;
      }
      .input-group-append {
        height: calc(2.15rem + 2px);

        .input-group-text {
          background-color: transparent;
        }
      }
    }
  }

  .card-body {
    .form-control {
      display: inline-block;
      width: 10rem;
    }
  }
}
.cursor-pointer {
  cursor: pointer;
}
.round {
  line-height: 4rem;
  color: #fff;
  width: 4rem;
  height: 4rem;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  border-radius: 100%;

  i {
    font-size: 2rem;
    line-height: 4rem;
  }
}
#app {
  background-color: $gray-100;
}
#page-wrapper {
  margin-left: 16rem;
  padding: 1.5rem 2rem;
  margin-top: 10px;
}
.badge {
  box-shadow: $shadow;
  font-weight: $font-weight-light;
  padding: 0.5rem 1rem;
}
.btn {
  box-shadow: $button-shadow;
  border-radius: 0.25rem;
  min-width: 7rem;
  padding: 0.625rem 1rem;

  &.btn-sm {
    min-width: 4rem;
    padding: 0.375rem 0.5rem;
  }
}
.custom-form-group {
  border: 1px solid $gray-200;
  margin-bottom: -1px;
  padding: 0.5rem 1rem;
  position: relative;

  &:before {
    background-color: $red;
    content: '';
    position: absolute;
    left: -1px;
    top: -1px;
    height: calc(100% + 2px);
    width: 5px;
  }
  label {
    font-size: 0.75rem;
    margin-bottom: 0;
  }
  .form-control {
    border: 0px;
    color: $red;
    height: calc(1.5rem + 2px);
    padding: 0;
  }
}
