// Theme Colors
$themecolor: #ec5251;

$shadow: 0 1px 4px 0 rgba(0,0,0,.1);
$button-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
$lft: left;
$rgt: right;

// Color system
$white:    #fff !default;
$gray-100: #fbfbfb !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #afafaf !default;
$gray-600: #727272 !default;
$gray-700: #4F5467 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$dark-blue : #241A35 !default;
$light-blue: #03A9F4 !default;
$blue      : #2196F3 !default;
$indigo    : #3F51B5 !default;
$purple    : #9C27B0 !default;
$brown     : #892f4d !default;
$pink      : #00ba76 !default;
$red       : #ec5251 !default;
$orange    : #FF9800 !default;
$yellow    : #FFEB3B !default;
$green     : #4CAF50 !default;
$teal      : #009688 !default;
$cyan      : #00BCD4 !default;
$navy      : #1A237E !default;
$primary   : #2d3f5a !default;

$text-muted: $gray-600 !default;

$colors: (
  blue:                           $blue,
  indigo:                         $indigo,
  purple:                         $purple,
  brown:                          $brown,
  pink:                           $pink,
  red:                            $red,
  orange:                         $orange,
  yellow:                         $yellow,
  green:                          $green,
  teal:                           $teal,
  cyan:                           $cyan,
  white:                          $white,
  gray:                           $gray-600,
  gray-dark:                      $gray-800
);

$theme-colors: (
  primary:                        $orange,
  secondary:                      $gray-100,
  success:                        $green,
  info:                           $blue,
  warning:                        $yellow,
  danger:                         $red,
  light:                          $gray-200,
  cyan:                           $cyan,
  gray:                           $gray-600,
  dark:                           $gray-800,
  purple:                         $purple,
  brown:                          $brown,
  pink:                           $pink
);

// Options
//
// Quickly modify global styling by enabling or disabling optional features.
$enable-caret:              true !default;
$enable-rounded:            true !default;
$enable-shadows:            false !default;
$enable-gradients:          false !default;
$enable-transitions:        true !default;
$enable-hover-media-query:  false !default;
$enable-grid-classes:       true !default;
$enable-print-styles:       true !default;


// Body
//
// Settings for the `<body>` element.
$body-bg:                   #edf1f5;
$body-color:                $gray-900 !default;
$grid-gutter-width:         20px !default;


// Typography
//
// Font, line-height, and color for body text, headings, and more.
// Typography
$font-size-base:              0.875rem;
$line-height-base:            1.6;
$font-family-sans-serif:     'Poppins', sans-serif;

$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-medium:          500 !default;
$font-weight-bold:            700 !default;

$h1-font-size:                2rem;
$h2-font-size:                1.5rem;
$h3-font-size:                1.25rem;
$h4-font-size:                1.125rem;
$h5-font-size:                1rem;
$h6-font-size:                0.875rem;

$headings-margin-bottom:      (1rem / 2) !default;
$headings-font-family:        'Poppins', sans-serif !default;
$headings-font-weight:        300 !default;
$headings-color:              inherit !default;

// Breadcrumbs
$breadcrumb-bg:                   #fff;
$breadcrumb-margin-bottom:        1.5rem;

// Cards
$card-border-width:               0px!default;
$card-border-color:               transparent!default;
$card-border-radius:              0px !default;

// Dropdowns
$dropdown-item-padding-y:           .65rem !default;
$dropdown-border-color:           $gray-200;
$dropdown-divider-bg:             $gray-100;

// Buttons
$btn-secondary-border:            $gray-300;

// Progress bars
$progress-bg:                     $gray-100;

// Tables
$table-bg-accent:                 $gray-100;
$table-bg-hover:                  $gray-100;
$table-hover-bg:                  $gray-100 !default;
$table-cell-padding:              1rem !default;
$table-bg-level:                    -10 !default;
$table-bg-level2:                    1 !default;
$table-bg-level3:                    -5 !default;
// Components
$component-active-color:      $white !default;
$component-active-bg:         $themecolor !default;
$badge-pill-padding-x:              .2em !default;
$badge-pill-padding-y:              1em !default;


// Forms
$input-group-addon-bg:            $gray-100;
$input-border-color:              $gray-200;
$input-group-addon-border-color:  $gray-200;
$input-btn-focus-color:           rgba(0, 0, 0, .25) !default;
$input-focus-border-color:        rgba(0,0,0, 0.1) !default;
$custom-control-indicator-active-bg: rgba(0,0,0, 35%) !default;
$input-btn-focus-box-shadow: transparent !default;
$custom-select-focus-box-shadow: transparent !default;
$custom-select-indicator:           str-replace(url(""),  "%23") !default;
//
// Define common padding and border radius sizes and more.
$border-width:                1px !default;
$border-color:                $gray-200 !default;
$border-radius:               .25rem !default;
$border-radius-lg:            .3rem !default;
$border-radius-sm:            .2rem !default;

// Progress bars
$progress-height:                   auto !default;

//Tabs
$nav-tabs-link-active-bg:           $white !default;
