
// Fonts
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// $fa-font-path: "./node_modules/@fortawesome/fontawesome-pro/webfonts";
$fa-font-path: "~@fortawesome/fontawesome-pro/webfonts";

// FontAwesome Icons
@import '~@fortawesome/fontawesome-pro/scss/fontawesome';
@import '~@fortawesome/fontawesome-pro/scss/regular';
@import '~@fortawesome/fontawesome-pro/scss/solid';
@import '~@fortawesome/fontawesome-pro/scss/light';
@import '~@fortawesome/fontawesome-pro/scss/brands';

// Custom
@import 'components/index';
@import 'pages/index';
@import 'master';
