<template>
  <div>
    <div id="main-wrapper">
      <layout-sidebar
        v-on:reset="resetLoading"
      />

      <div id="page-wrapper" class="page-admin">
        <div class="container-fluid">
          <router-view
            v-on:loaded="completedLoading"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Sidebar from '@/components/Sidebar';

export default {
  components: {
    'layout-sidebar': Sidebar,
  },
  data() {
    return {
      loading: true,
    };
  },
  methods: {
    completedLoading() {
      this.loading = false;
    },
    resetLoading() {
      this.loading = true;
    },
  },
};
</script>
