<template>
  <div>
    <!-- Preloader - style you can find in spinners.css -->
    <transition name="fade">
      <div class="preloader" v-if="loading">
        <div class="loader">
          <div class="loader__figure"></div>
          <p class="loader__label">GFM</p>
        </div>
      </div>
    </transition>

    <div id="wrapper">
      <router-view />
    </div>

  </div>
</template>

<script>
export default {
  data() {
    return {
      loading: true,
    };
  },
  created() {
    if (this.$router.currentRoute.name === 'Dashboard') {
      document.getElementsByTagName('html')[0].classList.add('page-dashboard');
    } else {
      document.getElementsByTagName('html')[0].classList.remove('page-dashboard');
    }
  },
  mounted() {
    this.loading = false;
  },
};
</script>
